<footer class="custom-footer text-center">
    <div class="container">
        <p class="mb-0">&copy; 2026 - Diseñado por: DAMARIS ANETTE ULLOA GUALLI | Desarrollo de Aplicaciones Web | 2026</p>
        <p class="mb-0">
            <span class="text-muted">|</span> 
            <i class="fas fa-envelope"></i> <a href="mailto:damarisanette07@gmail.com" class="text-white">AuraGlow@gmail.com</a>
            <span class="text-muted">|</span>
            <i class="fas fa-phone"></i> +593 968372883
        </p>
    </div>
</footer>
